.product-block{
    padding:20px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border: 1px solid black;
}
h3{
    color:blue;
}
p{
    color:red;
}
button{
    background-color: black;
    color: white;
    padding: 10px;
}